.home-animation{ animation: fadeInDown 5s; }
@keyframes fadeInDown {
   0% {
      opacity: 0;
      transform: translateY(-20px);
   }
   100% {
      opacity: 1;
      transform: translateY(0);
   }
}
@media (prefers-reduced-motion: no-preference) {
  .home-animation{
    animation-name: fadeInDown;
    animation-duration: 2s;
    animation: auto linear fadeInDown both;
    animation-timeline: view();
    animation-range: entry 10% cover 20%;

  }
}



body{ animation: fadeInDown 5s; }
@keyframes fadeInDown {
   0% {
      opacity: 0;
      transform: translateY(-20px);
   }
   100% {
      opacity: 1;
      transform: translateY(0);
   }
}
@media (prefers-reduced-motion: no-preference) {
  body{
    animation-name: fadeInDown;
    animation-duration: 2s;

  }
}
/* Please Ensure That you go through every comment properly and carefully before messing with any code
Every block of code was wrapped with a comment for better understanding of the code.
*/

/* The styling here affect every anchor(a) element in the page except for some few places */
a {
  color: white !important;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
}
/* ..........  */


/* This style is for the banner */
section.banner {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../../assets/images/pix2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 85.5vh;
  background-attachment: fixed;
}
/* .......... */


/* The anchor(a) element was changed to black here because, my navbar has a white background
The anchor(a) element here is the one at the navbar
*/
div#collapsibleNavbar ul li a {
  color: black !important;
}

div#collapsibleNavbar ul li a:hover {
  color: purple !important;
  border-bottom: 2px solid purple !important;
}

div#collapsibleNavbar ul li a.active, li.events a.active {
  color: purple !important;
  border-bottom: 2px solid purple !important;
}
/* .......... */


/* Probably you've seen that the navbar has a grey color line under it, that was done here and the reason for
the background-color is because without it the navbar will be transparent */
nav.topnav {
  box-shadow: 2px 2px 2px lightgrey;
  background-color: white;
}
/* .......... */


/* The logo was so big and i couldn't think of any other way to make it look good than to reduce it here */
nav.topnav a.healthlogo img {
  width: 100px;
}
/* .......... */


/* This is the button for becoming a member  */
div.membershipBtn a {
  background-color: #4285f6;
}

div.membershipBtn a:hover {  /* The on-hover styling */
  background-color: lightgrey;
  color: black !important;
  transition: 1s;
}
/* .......... */


/* The class name should help you recognise the element i'm referring to, and the reason why i gave these setions
margin is to maintain white space in between them */
section.about, section., section.partnersAndSponsors {
  margin: 100px 0px;
}

section.about div.about-header h2 {
  font-size: 32px;
}

/* This section is actually for those lines you see under each header.
It has nothing to do with the styling of any content or image*/
section.about div.about-header div#line {
  width: 100px;
  height: 5px;
  background-color: green;
  margin: auto;
}

section. div.about-header div#line {
  width: 100px;
  height: 5px;
  background-color: red;
  margin: auto;
}

section.partnersAndSponsors div.partnersAndSponsorsHeader div#line {
  width: 100px;
  height: 5px;
  background-color: blue;
  margin: auto;
}

section.whyJoinhealth div.whyJoinhealth-header div#line {
  width: 100px;
  height: 5px;
  background-color: #fbbc04;
}
/* .......... */


section.partnersAndSponsors div.googleImage {
  margin-top: 20px;
}

section.partnersAndSponsors img {
  width: 200px;
}

section div.membershipTerms p, ul li {
  font-size: 14px;
}

section div.membershipTerms div.membershipBtn a.btn {
  background-color: #006400;
  margin-top: 10px;
}

section.whyJoinhealth span {
  font-family: 'Open Sans', sans-serif;
  color: grey;
  font-size: 16px;
}

section.contact {
  background-color: #e8eaed;
}

footer {
  background-color: #f5f5f5;
  padding: 30px;
}

footer h4 {
  font-size: 18px;
  color: darkgrey;
}


/* Social Media Handle Stylings */
i.fa-facebook {
  border-radius: 15px;
  background-color: blue;
  padding: 10px 12px;
  margin-right: 20px;
}

i.fa-twitter {
  border-radius: 15px;
  background-color: skyblue;
  padding: 10px;
  margin-right: 20px;
}

i.fa-instagram {
  border-radius: 15px;
  background-color: red;
  padding: 10px;
}
/* .......... */


/* Small Screen for navbar */
@media (max-width: 575px), (max-width: 991px) {
  nav.topnav {
    padding-left: 0 !important;
    padding-right: 0 !important;
    box-shadow: none !important;
  }

  nav.topnav ul {
    background-color: lightgray;
  }

  nav.topnav div#collapsibleNavbar ul li{
    border-bottom: 1px solid grey;
    text-align: center;
  }

  nav.topnav div#collapsibleNavbar ul li a{
    color: black !important;
  }

  nav.topnav div#collapsibleNavbar ul li a.active, nav.topnav div#collapsibleNavbar ul li a:hover{
    color: purple !important;
    border-bottom: none !important;
  }

  nav.topnav ul, nav.topnav li, nav.topnav div.membershipBtn {
    margin-left: 0 !important;
  }

  nav.topnav div.membershipBtn a {
    border: none !important;
    background-color: transparent !important;
    text-align: center !important;
    display: block;
    color: black !important;
  }

  nav.topnav a.healthlogo, nav.topnav button.sm-menu {
    margin: 0 10px;
    outline: none !important;
  }

  nav.topnav button.sm-menu {
    background-color: #4285f6;
    color: white;
  }
}


/* This is also for the header */
@media (max-width: 575px) {
  a.healthlogo span {
    font-size: 20px !important;
  }

  a.healthlogo > img {
    width: 50px !important;
  }
  /* ........... */

  section.banner > div:nth-child(1) {
    margin-top: 40px !important;
  }

  section.about img {
    width: 285px !important;
    height: 200px !important;
  }


  .googleLogo {
    margin-bottom: 50px !important;
  }
}
/* .......... */

/* small screen for footer */
@media (max-width: 991px) {
  footer h4 {
    margin: 20px 0 10px;
  }
}



/* Miracle css start here */


  /* text color on the landing
  */
  .color{
    color:#9d9c9d;

  }


  /* for links button
  */
  a{
    text-decoration: none !important;

  }
  .Latest{
    width: 150px !important;
  }


  /* for smallscreen
  */
  @media (max-width: 991px) {
    .smallscreen{
    font-size: 30px !important;
    width: 50rem !important;

    }
    .gdgimage{
      height: 25vh !important;
    }

    /* for card margintop
    */
    .margintop{
      margin-top: 30px !important;
    }


    /* modal for small screen
    */
    .mimi_model{
      font-size: 30px !important;
    }
  }
